<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Киноман</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
  <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
</head>
<body>
<div class="header">
  <h1 id="string1">Киноман</h1>
</div>

<div class="topnav">
  <a th:href="@{/}" class="topnav">Рецензии</a>
  <a th:href="@{/news}" class="topnav">Новости</a>
  <a th:href="@{/rating}" class="topnav">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="topnav">Афиша</a>
  <a th:href="@{/enter}" class="topnav" id="enter">Войти</a>
</div>

<div class="clearfix">
  <img th:src="@{/images/1.jpg}" alt="Smiley face">
  <a th:href="@{/movie/1}"><h2>"Если он сумасшедший, то кто ты?"</h2></a>
  <p>Экранизация культового романа Кена Кизи, перевернувшая мир кино.</p>
  <p>20.09.2018</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/2.jpg}" alt="Smiley face">
  <a th:href="@{/movie/2}"><h2>«Его работа - твоя биография»</h2></a>
  <p>Фильм, поднявшийся на волне скандала с Полански, хотя заслуживающий внимания вполне сам по себе.</p>
  <p>27.09.2018</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/3.jpg}" alt="Smiley face">
  <a th:href="@{/movie/3}"><h2>«Когда ты любишь кого-то, ты не можешь просто забыть про это»</h2></a>
  <p>Тонкая и наполненная картина, однозначно отличающаяся от своих жанровых коллег.</p>
  <p>04.10.2018</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/4.jpg}" alt="Smiley face">
  <a th:href="@{/movie/4}"><h2>«Из воды сухим не выйти»</h2></a>
  <p>Философская притча, развернувшаяся на фоне психологического триллера.</p>
  <p>04.10.2018</p>
</div>

<hr>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script>
  $(document).ready(function() {
    for(var i=1; i<101000; i++){
      $("#string1").fadeOut(3000).fadeIn(2000);
    }
  });
</script>
</body>
</html>
