<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="1.css">
    
    <a href="index.html"><img class="back"; src="backward.png" alt="Smiley face"></a>
    
    <div class="header">
      <h1>"Призрак"</h1>
    </div>
    
  </head>
  <body>
    
    <ul>
      <li>Режиссер: Роман Полански; </li>
      <li>Год создание: 2009; </li>
      <li>Бюджет: $45 000 000;</li>
      <li>Сборы: $60 222 298;</li>
      <li>Отметка Кинопоиск: 7.195 (42 544);</li>
      <li>Отметка IMDb: 7.20 (143 851);</li>
      <li>Трейлер:</li>
    </ul>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DOf4TGqPDTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h2> Описание: </h2>
    <p>«Призраками пера» зовут в издательском мире «литературных негров». Их жизнь и муки творчества неизвестны никому, но результаты их трудов становятся бестселлерами.</p>
    <p>Один из них погибает таинственной смертью как раз накануне сдачи будущего хита продаж, мемуаров бывшего премьер-министра Великобритании Адама Лэнга. Чтобы завершить «труд» политика, издательство нанимает Призрака-профессионала. Но педантичный и обычно успешный Призрак даже не представлял, что задача написать мемуары — из числа смертельно опасных, когда в биографии твоего героя — сплошь и рядом белые пятна, подозрительно напоминающие реальные государственные тайны…</p>
    
    <h2> Рецензия: </h2>
    <p>Когда вспоминаешь Романа Полански, на ум приходят лучшие фильмы прошлого века: «Ребёнок Розмари» и «девятые врата». Кто бы мог подумать, что на закате своей карьеры этот гений сделает фильм о политике, полив грязью Тони Блэра, Кандолизу Райс, да и вообще обсмеяв всю политическую систему США? Этот фильм-гениальный вызов на дуэль, Роман взял за основу скандальную книгу, а поставил её ещё скандальней. Но фильм прекрасен не своей скандальностью, а своей душой. Полански отомстил США за то, что его хотят посадить именно они. Он вынужден скрываться, и наверно никогда больше не снимет кино. Но во всяком случае лебединая песня удалась.</p>
    <p>Фильм повествует о человеке, имя которого на протяжении всей ленты не раскрывается, потому что он- «Призрак пера»,или проще «литературный негр»-пишет книги для других. Но однажды за огромные деньги сам Джеймс Белуши(лысый!) предлагает написать ему мемуары бывшего премьер-министра США. Получая работу, Эван Макгрегор даже не догадывается, как далеко он зайдёт…</p>
    <p>Основная фишка фильма-параллель между вымышленным премьер-министром Лангом, и реально существующим премьер-министром Тони Блэром. Вся политическая карьера и половина биографии абсолютно идентична. Весь фильм Полански смеётся над всем:над террористами, над заговорами и над ЦРУ. Но фильм по жанру-глубокий триллер, который почти что перетекает в расследование. Он держит в напряжении и не отпускает до конца, и даже смех над всеми подтекстами в тему. Синтез жанров здесь скорее в плюс.</p>
    <p>С технической точки зрения всё прекрасно: Операторская работа выше всяких похвал: аутентичная Америка, дождливые нуарные пейзажи и маяк… Снято блистательно. Монтаж похрамывает, но это можно простить. Радует музыка: она прекрасная, лёгкая и не пафосная.</p>
    <p>В итоге всего Роман Полански, который раньше боролся с самим сатаной, фашистами, и бандитами, решил подраться с политикой. И последняя его схватка в разы лучше, чем предыдущие за всё прошлое десятилетие. Так чётко, так быстро и так метко затоптать всех и снять гениальный фильм мог только он. Спасибо ему за это. Смотрите хорошее кино.</p>
    
    <h2> Личная отметка: 8/10;</h2>
    
    <div class="footer">
      <table class="tabl">
        <tr>
          <td id="tabl1">© 2018 – 2019, Киноман</td>
          <td id="tabl2">Проект компании Iteen Academy</td>
        </tr>
      </table>
    </div>

    <script>  
      for(var i=1;i<101000;i++){
        $("#string1").fadeOut(3000).fadeIn(2000);
      }
    </script>

  </body>
</html>