<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${movie.title}"></title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<a th:href="@{'/' + ${source}}">
  <img class="back" th:src="@{/images/backward.png}" alt="Back">
</a>

<div class="header">
  <h1 th:text="${movie.title}"></h1>
</div>

<ul>
  <li>Режиссер: <span th:text="${movie.director}"></span>;</li>
  <li>Год создание: <span th:text="${movie.releaseYear}"></span>;</li>
  <li>Бюджет: $<span id="budget" th:text="${movie.budget}"></span>;</li>
  <li>Сборы: $<span id="boxOffice" th:text="${movie.boxOffice}"></span>;</li>
  <li>Отметка IMDb: <span th:text="${movie.imdbRating}"></span>;</li>
  <li>Трейлер:</li>
</ul>

<iframe width="560" height="315" th:src="${movie.trailerUrl}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Описание:</h2>
<p class="description" th:utext="${movie.description}"></p>

<h2>Рецензия:</h2>
<p class="review" th:utext="${movie.review}"></p>

<h2>Личная отметка: <span th:text="${movie.personalRating}"></span>/10.0;</h2>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script src="/functions.js"></script>
<script>
  $(document).ready(function() {
    formatNumber('budget');
    formatNumber('boxOffice');
  });
</script>
</body>
</html>
