<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="1.css">
    
    <a href="index.html"><img class="back"; src="backward.png" alt="Smiley face"></a>
    
    <div class="header">
      <h1>"Призрачная нить"</h1>
    </div>
    
  </head>
  <body>
    
    <ul>
      <li>Режиссер: Пол Томас Андерсон; </li>
      <li>Год создание: 2017; </li>
      <li>Бюджет: $35 000 000;</li>
      <li>Сборы: $47 158 342;</li>
      <li>Отметка Кинопоиск: 7.043 (13 766);</li>
      <li>Отметка IMDb: 7.60 (70 430);</li>
      <li>Трейлер:</li>
    </ul>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6hMVSCkh-kc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h2> Описание: </h2>
    <p>В Лондоне 1950-х годов знаменитый кутюрье Рейнольдс Вудкок создает неповторимые образы для королевской семьи, звезд кино, богатых наследниц и светских львиц. Жизнь гения радикально меняется с появлением молодой своенравной Альмы, которая становится его музой.</p>
    
    <h2> Рецензия: </h2>
    <p>Пол Томас Андерсон один из немногих кинематографических самородков, который сделал себе имя на сложных авторских работах, они всегда становились событием в мире большого кинематографа. Он всегда тщательно выбирает темы для своих новых работ, самостоятельно пишет сценарий и полностью контролирует съёмочный процесс. Его истории всегда оригинальны и кардинально отличаются друг от друга. При этом зачастую в них рассматриваются проблемы похожего характера. Так вышло и с новым произведением автора, лента «Призрачная нить» стала очередным подтверждением таланта режиссера.</p>
    <p>При просмотре фильма кажется, что перед нами экранизация известного романа прошлых лет, но на деле это оригинальная история, которая родилась в голове Пола Томаса Андерсона. Картина повествует нам о знаменитом кутюрье, с колоритным именем Рейнольдс Джеремайя Вудкок, он настоящий мастер своего дела, он одевает светских лиц, звёзд кино и прочих знаменитостей. Его жизнь следует четко установленным правилам, в ней нет места излишествам и нарушениям. Но всё меняется с появлением простой девушки из народа. На первый взгляд фильм предстаёт стандартной историей любви, но это не так. Перед нами глубокая и насыщенная жизненная драма с нетипичной любовной линией, здесь всё идёт не по правилам.</p> 
    <p>Пол Томас Андерсон, как всегда, затронул в картине обширную проблематику. Его любимая тема институт семьи и сложность семейных отношений здесь раскрывается в полной мере. Взрослый мужчина — холостяк, чуждый радостям семейной жизни, властная, строгая сестра (старая дева) и своенравная молодая любовница. Столкновение подобных характеров представляет интересную почву для психологического анализа. Важное значение имеет образ матери и её влияние на главного героя. За сильной личностью строго профессионала своего дела скрывается ранимая душа, которой не хватает душевного тепла.</p> 
    <p>В картине потрясающе воссоздана атмосфера Лондона 1950-ых годов. Режиссер потратил много времени на изучение моды того исторического периода. Интерьеры, костюмы, автомобили и улочки всё соответствует реалиям той эпохи. Визуальное оформление выполнено в ретро стилистики, плёнка сохраняет зернистость кадра. Интересно и музыкальное сопровождение в исполнении Джонни Гринвуда, соло-гитариста группы Radiohead.</p> 
    <p>Главную роль исполнил выдающийся британский актёр Дэниел Дэй-Льюис, приверженец системы Станиславского всегда максимально вживается в роль, зачастую в ущерб собственному здоровью. Вот и здесь он полностью растворился в создаваемом образе, сам научился шить и познал все тонкости высокой моды. Его утонченная манера речи, мимика и жесты приковывают зрительское внимание и не позволяют отвести взгляд. Он великолепно показал сложный характер своего персонажа. Роль его музы исполнила молодая актриса Вики Крипс, в ней есть притягательность, но в то же время и нечто отталкивающее.</p>
    <p>Призрачная нить это глубокая и тонкая экзистенциальная драма, монументальное авторское кино, в котором удивительным образом переплетаются нежная история любви, борьба за власть, исследование жизни творца и ироничное восприятие повседневной действительности. Атмосфера полностью погружает нас в мир готического Лондона образца 1950-ых годов. Это вдумчивое интеллектуальное кино, которое подойдёт далеко не всем. Но любителям сложных психологических конструкций будет интересно ознакомиться с этой оригинальной картиной.</p>
    
    <h2> Личная отметка: 8/10;</h2>
    
    <div class="footer">
      <table class="tabl">
        <tr>
          <td id="tabl1">© 2018 – 2019, Киноман</td>
          <td id="tabl2">Проект компании Iteen Academy</td>
        </tr>
      </table>
    </div>

    <script>  
      for(var i=1;i<101000;i++){
        $("#string1").fadeOut(3000).fadeIn(2000);
      }
    </script>

  </body>
</html>