<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="1.css">

    <a href="news.html"><img class="back"; src="backward.png" alt="Smiley face"></a>

    <div class="header">
      <h1>Крис Рок перезапустит хоррор-франшизу «Пила»</h1>
    </div>

  </head>
  <body>
    
    <img src="6.jpg" alt="Smiley face" id="src1">
    
    <p>Крис Рок совместно с студией Lionsgate и кинокомпанией Twisted Pictures, работает над перезапуском серии фильмов ужасов «Пила». Рок придумал сюжет, а Пит Голфингер и Джош Столберг напишут на его основе сценарий. Даррен Линн Боусман займет режиссерское кресло проекта. Рок также возьмет на себя функции продюсера. Фильм увидит свет 23 октября 2020 года.</p>
    <p>По словам Джо Дрейка, главы Lionsgate, Рок пришел к ним с новой историей, которая переворачивает знакомый мир «Пилы» с ног на голову. Продюсеры франшизы считают, что Рок сможет вдохнуть в серию новую жизнь, так что они моментально дали проекту зеленый свет.</p>
    <p>«У Криса появилась эта идея, которая очень почтительно относится к наследию материала, но при этом оживляет бренд его остроумием, креативностью и любовью к этой классической хоррор-франшизе», — добавил Дрейк.</p>
    <p>«Я остаюсь фанатом „Пилы“ с выхода самого первого фильма в 2004 году», — признался Рок.</p>
    <p>В общей сложности хоррор-франшиза «Пила» насчитывает восемь частей. В каждом фильме группа случайных, на первый взгляд, людей оказывается запертой в помещении с разнообразными смертельными ловушками. Как правило, у них есть шанс спастись, но для этого сперва придется чем-то пожертвовать.</p>
    <p>Источник: Deadline</p>
    
    <div class="footer">
      <table class="tabl">
        <tr>
          <td id="tabl1">© 2018 – 2019, Киноман</td>
          <td id="tabl2">Проект компании Iteen Academy</td>
        </tr>
      </table>
    </div>

    <script>  
      for(var i=1;i<101000;i++){
        $("#string1").fadeOut(3000).fadeIn(2000);
      }
    </script>
    
  </body>
</html>