<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="1.css">

    <a href="news.html"><img class="back"; src="backward.png" alt="Smiley face"></a>

    <div class="header">
      <h1>Роберт Паттинсон может сыграть Бэтмена в фильме Мэтта Ривза</h1>
    </div>
    
  </head>
  <body>
    
    <img src="8.jpg" alt="Smiley face" id="src1">

    <p>Как сообщает Variety со ссылкой на источник, близкий к производству, Роберт Паттинсон возглавил список кандидатов на роль Темного рыцаря в «Бэтмене» Мэтта Ривза. Актер еще официально не утвержден, но инсайдер уверяет, что сделка близится к завершению. Паттинсон, однако, не единственный претендент.  В качестве возможного Бэтмена источники также называют имя Николаса Холта, но в приоритете у режиссера и студии именно Паттинсон.</p>
    <p>Сюжет «Бэтмена» не раскрывается. Известно лишь, что Ривз планирует задействовать в фильме сразу несколько классических злодеев Темного рыцаря, а главный герой будет ближе к своим детективным корням.</p>
    <p>При этом сам Бэтмен будет значительно моложе предыдущей версии в исполнении Бена Аффлека. Фильм Ривза расскажет о Темном рыцаре на заре карьеры борца с преступностью, но не будет пересказом происхождения героя.</p>
    <p>По словам Ривза, «Бэтмен» — это не окончательное название, и в будущем оно может измениться.</p>
    <p>Ожидается, что съемки «Бэтмена» стартуют в конце 2019 — начале 2020 года.</p>
    <p>В 2019 году зрители смогут увидеть Паттинсона в исторической драме «Король» и в новой картине Роберта Эггерса «Маяк», премьера которой состоится на 72-й Каннской кинофестивале. В ближайшем будущем актер приступит к съемкам в новом безымянном фильме Кристофера Нолана.</p>
    <p>Источник: Variety / Deadline</p>
    
    <div class="footer">
      <table class="tabl">
        <tr>
          <td id="tabl1">© 2018 – 2019, Киноман</td>
          <td id="tabl2">Проект компании Iteen Academy</td>
        </tr>
      </table>
    </div>

    <script>  
      for(var i=1;i<101000;i++){
        $("#string1").fadeOut(3000).fadeIn(2000);
      }
    </script>
    
  </body>
</html>