<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="1.css">

    <a href="news.html"><img class="back"; src="backward.png" alt="Smiley face"></a>

    <div class="header">
      <h1>Четвертый сезон «Рика и Морти» выйдет в ноябре 2019 года</h1>
    </div>

  </head>
  <body>

    <img src="10.jpg" alt="Smiley face" id="src1">

    <p>Канал Adult Swim объявил дату релиза четвертого сезона мультсериала «Рик и Морти». Проект о безумном ученом и его внуке вернется на экраны в ноябре 2019 года. Точный день премьеры пока не называется. Также неизвестно, сколько эпизодов будет в новом сезоне.</p>
    <p>Дату релиза Рик и Морти объявили лично в коротком ролике:</p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dIdk61KN1to" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <p>В мае 2018-го стало известно, что Adult Swim заказал производство 70 новых эпизодов мультсериала, и в июне того же года началась работа над четвертым сезоном. По словам Джастина Ройланда, одного из авторов проекта, для создания продолжения они собрали сценарную группу, где совместными усилиями придумываются возможные идеи для проекта. Ройланд также отметил, что в будущем зрителям не придется долго ждать новый сезон любимого сериала.</p>
    <p>Премьера анимационного сериала «Рик и Морти» состоялась в декабре 2013 года. Проект, созданный Ройландом и Дэном Хармоном, быстро начал набирать популярность, превратившись в главный телесериал интернета. Безумный ученый Рик Санчез и его внук Морти завоевали мир. На основе проекта начали выпускать комиксы, компьютерные, мобильные и настольные игры, а также сотни вариантов сопутствующих товаров.</p>
    <p>Источник: Adult Swim</p>

    <div class="footer">
      <table class="tabl">
        <tr>
          <td id="tabl1">© 2018 – 2019, Киноман</td>
          <td id="tabl2">Проект компании Iteen Academy</td>
        </tr>
      </table>
    </div>

    <script>  
      for(var i=1;i<101000;i++){
        $("#string1").fadeOut(3000).fadeIn(2000);
      }
    </script>

  </body>
</html>