<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="1.css">

    <a href="news.html"><img class="back"; src="backward.png" alt="Smiley face"></a>

    <div class="header">
      <h1>Фанаты создали петицию с требованием переснять восьмой сезон «Игры престолов»</h1>
    </div>
    
  </head>
  <body>
    
    <img src="11.jpg" alt="Smiley face" id="src1">

    <p>На сайте Change.org появилась онлайн-петиция, призывающая канал HBO полностью переснять восьмой сезон «Игры престолов» с компетентными сценаристами. Автор петиции считает, что создатели сериала Дэвид Бениофф и Д. Б. Уайсс не справились с поставленной задачей.</p>
    <p>Согласно тексту петиции, Бениофф и Уайсс доказали собственную несостоятельность как сценаристы и попросту не способны работать без первоисточника Джорджа Р. Р. Мартина. «Сериал заслуживает логичного финала, — говорится в петиции. — Подорвите мои ожидания и сделайте это, HBO!»</p>
    <p>На данный момент петиция собрала уже более 224 тысяч подписей.</p>

    <img src="13.jpg" alt="Smiley face" id="src1">

    <p>Восьмой сезон «Игры престолов» разделил зрителей. Одним кажется, что Бениофф и Уайсс испортили весь проект, забыв про важные сюжетные линии и мотивацию персонажей. Они считают, что без поддержки Мартина сценаристы не смогли придумать удовлетворительный финал для всей истории. Другие, наоборот, заявляют, что авторы все делают правильно, и главное, знать куда смотреть.</p>
    <p>Источник: CNN</p>
    
    <div class="footer">
      <table class="tabl">
        <tr>
          <td id="tabl1">© 2018 – 2019, Киноман</td>
          <td id="tabl2">Проект компании Iteen Academy</td>
        </tr>
      </table>
    </div>

    <script>  
      for(var i=1;i<101000;i++){
        $("#string1").fadeOut(3000).fadeIn(2000);
      }
    </script>
    
  </body>
</html>