<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cine World</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header">
  <h1 id="service-name">Cine World</h1>
</div>

<div class="navbar">
  <a th:href="@{/movie-reviews}" class="navbar">Рецензии</a>
  <a th:href="@{/news}" class="navbar">Новости</a>
  <a th:href="@{/rating}" class="navbar">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="navbar">Афиша</a>
  <a th:href="@{/enter}" class="navbar" id="enter">Войти</a>
</div>

<div th:each="newsItem : ${newsList}" class="clearfix top-margin">
  <img th:src="@{${newsItem.coverImageUrl}}" alt="News Image">
  <a th:href="@{/news/{id}(id=${newsItem.id})}">
    <h2 th:text="${newsItem.title}"></h2>
  </a>
  <p class="date" th:text="${#temporals.format(newsItem.publicationDate, 'dd.MM.yyyy')}"></p>
</div>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script src="/functions.js"></script>
<script>
  $(document).ready(function() {
    animateString();
  });
</script>
</body>
</html>
