<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${news.title}"></title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<a th:href="@{/news}">
  <img class="back" th:src="@{/images/return-button.png}" alt="Return Button">
</a>

<div class="header">
  <h1 th:text="${news.title}"></h1>
</div>

<img th:src="@{${news.contentImageUrl}}" alt="Image of News Content" id="src1">

<div th:each="paragraph : ${paragraphs}">
  <p th:text="${paragraph}"></p>
</div>
<p>Source: <span th:text="${news.source}"></span></p>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2019 – 2024, Cine World</td>
      <td id="tabl2">Designed by Herman Lazarchyk in Cracow</td>
    </tr>
  </table>
</div>
</body>
</html>
