<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Киноман</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header">
  <h1 id="string1">Киноман</h1>
</div>

<div class="navbar">
  <a th:href="@{/reviews}" class="navbar">Рецензии</a>
  <a th:href="@{/news}" class="navbar">Новости</a>
  <a th:href="@{/rating}" class="navbar">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="navbar">Афиша</a>
  <a th:href="@{/enter}" class="navbar" id="enter">Войти</a>
</div>

<div class="clearfix">
  <img th:src="@{/images/5.jpg}" alt="Smiley face">
  <a th:href="@{/new1}"><h2>Крис Рок перезапустит хоррор-франшизу «Пила»</h2></a>
  <p>17.05.2019</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/7.jpg}" alt="Smiley face">
  <a th:href="@{/new2}"><h2>Роберт Паттинсон может сыграть Бэтмена в фильме Мэтта Ривза</h2></a>
  <p>17.05.2019</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/9.jpg}" alt="Smiley face">
  <a th:href="@{/new3}"><h2>Четвертый сезон «Рика и Морти» выйдет в ноябре 2019 года</h2></a>
  <p>15.05.2019</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/12.jpg}" alt="Smiley face">
  <a th:href="@{/new4}"><h2>Фанаты создали петицию с требованием переснять восьмой сезон «Игры престолов»</h2></a>
  <p>15.05.2019</p>
</div>

<hr>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script src="/functions.js"></script>
<script>
  $(document).ready(function() {
    animateString();
  });
</script>
</body>
</html>
