<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Киноман</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header">
  <h1 id="string1">Киноман</h1>
</div>

<div class="navbar">
  <a th:href="@{/reviews}" class="navbar">Рецензии</a>
  <a th:href="@{/news}" class="navbar">Новости</a>
  <a th:href="@{/rating}" class="navbar">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="navbar">Афиша</a>
  <a th:href="@{/enter}" class="navbar" id="enter">Войти</a>
</div>

<table class="table" style="width:100%">
  <tr class="rating">
    <th class="table1">Фильм</th>
    <th class="table1">Рейтинг</th>
  </tr>

  <tr class="rating">
    <td class="rating">1. Побег из Шоушенка (1994)</td>
    <td class="rating">9.191 (482 972)</td>
  </tr>

  <tr class="rating">
    <td class="rating">2. Зеленая миля (1999)</td>
    <td class="rating">9.134 (452 180)</td>
  </tr>

  <tr class="rating">
    <td class="rating">3. Форрест Гамп (1994)</td>
    <td class="rating">9.013 (442 015)</td>
  </tr>

  <tr class="rating">
    <td class="rating">4. Список Шиндлера (1993)</td>
    <td class="rating">8.884 (245 318)</td>
  </tr>

  <tr class="rating">
    <td class="rating">5. 1+1 (2011)</td>
    <td class="rating">8.835 (470 241)</td>
  </tr>

  <tr class="rating">
    <td class="rating">6. Леон (1994)</td>
    <td class="rating">8.776 (370 691)</td>
  </tr>

  <tr class="rating">
    <td class="rating">7. Начало (2010)</td>
    <td class="rating">8.774 (506 779)</td>
  </tr>

  <tr class="rating">
    <td class="rating">8. Король Лев (1994)</td>
    <td class="rating">8.757 (314 937)</td>
  </tr>

  <tr class="rating">
    <td class="rating">9. Бойцовский клуб (1999)</td>
    <td class="rating">8.714 (431 745)</td>
  </tr>

  <tr class="rating">
    <td class="rating">10. Иван Васильевич меняет профессию (1973)</td>
    <td class="rating">8.708 (334 909)</td>
  </tr>

  <tr class="rating">
    <td class="rating">11. Жизнь прекрасна (1997)</td>
    <td class="rating">8.675 (156 233)</td>
  </tr>

  <tr class="rating">
    <td class="rating">12. Достучаться до небес (1997)</td>
    <td class="rating">8.648 (346 509)</td>
  </tr>

  <tr class="rating">
    <td class="rating">13. Крестный отец (1972)</td>
    <td class="rating">8.636 (212 276)</td>
  </tr>

  <tr class="rating">
    <td class="rating">14. Криминальное чтиво (1994)</td>
    <td class="rating">8.628 (318 400)</td>
  </tr>

  <tr class="rating">
    <td class="rating">15. Престиж (2006)</td>
    <td class="rating">8.621 (388 212)</td>
  </tr>

  <tr class="rating">
    <td class="rating">16. Игры разума (2001)</td>
    <td class="rating">8.620 (321 120)</td>
  </tr>

  <tr class="rating">
    <td class="rating">17. Операция «Ы» и другие приключения Шурика (1965)</td>
    <td class="rating">8.620 (290 579)</td>
  </tr>

  <tr class="rating">
    <td class="rating">18. Гладиатор (2000)</td>
    <td class="rating">8.586 (297 294)</td>
  </tr>

  <tr class="rating">
    <td class="rating">19. Интерстеллар (2014)</td>
    <td class="rating">8.585 (396 120)</td>
  </tr>

  <tr class="rating">
    <td class="rating">20. Властелин колец: Возвращение Короля (2003)</td>
    <td class="rating">8.582 (322 860)</td>
  </tr>

  <tr class="rating">
    <td class="rating">21. Назад в будущее (1985)</td>
    <td class="rating">8.572 (320 890)</td>
  </tr>

  <tr class="rating">
    <td class="rating">22. Карты, деньги, два ствола (1998)</td>
    <td class="rating">8.556 (274 411)</td>
  </tr>

  <tr class="rating">
    <td class="rating">23. Бриллиантовая рука (1968)</td>
    <td class="rating">8.526 (266 254)</td>
  </tr>

  <tr class="rating">
    <td class="rating">24. Матрица (1999)</td>
    <td class="rating">8.524 (341 836)</td>
  </tr>

  <tr class="rating">
    <td class="rating">25. Поймай меня, если сможешь (2002)</td>
    <td class="rating">8.513 (313 689)</td>
  </tr>

  <tr class="rating">
    <td class="rating">26. Отступники (2006)</td>
    <td class="rating">8.513 (293 099)</td>
  </tr>

  <tr class="rating">
    <td class="rating">27. Пианист (2002)</td>
    <td class="rating">8.513 (188 023)</td>
  </tr>

  <tr class="rating">
    <td class="rating">28. В бой идут одни «старики» (1973)</td>
    <td class="rating">8.502 (142 212)</td>
  </tr>

  <tr class="rating">
    <td class="rating">29. Властелин колец: Братство кольца (2001)</td>
    <td class="rating">8.500 (313 876)</td>
  </tr>

  <tr class="rating">
    <td class="rating">30. Тайна Коко (2017)</td>
    <td class="rating">8.500 (86 954)</td>
  </tr>

  <tr class="rating">
    <td class="rating">31. ВАЛЛ·И (2008)</td>
    <td class="rating">8.499 (300 151)</td>
  </tr>

  <tr class="rating">
    <td class="rating">32. Большой куш (2000)</td>
    <td class="rating">8.495 (267 368)</td>
  </tr>

  <tr class="rating">
    <td class="rating">33. Властелин колец: Две крепости (2002)</td>
    <td class="rating">8.489 (297 707)</td>
  </tr>

  <tr class="rating">
    <td class="rating">34. Американская история X (1998)</td>
    <td class="rating">8.489 (233 189)</td>
  </tr>

  <tr class="rating">
    <td class="rating">35. Джентльмены удачи (1971)</td>
    <td class="rating">8.484 (235 217)</td>
  </tr>

  <tr class="rating">
    <td class="rating">36. Пираты Карибского моря: Проклятие Черной жемчужины (2003)</td>
    <td class="rating">8.473 (345 185)</td>
  </tr>

  <tr class="rating">
    <td class="rating">37. Остров проклятых (2009)</td>
    <td class="rating">8.470 (382 494)</td>
  </tr>

  <tr class="rating">
    <td class="rating"><a th:href="@{/movie/1}">38. Пролетая над гнездом кукушки (1975)</a></td>
    <td class="rating">8.469 (217 958)</td>
  </tr>

  <tr class="rating">
    <td class="rating">39. Темный рыцарь (2008)</td>
    <td class="rating">8.466 (352 371)</td>
  </tr>

  <tr class="rating">
    <td class="rating">40. Титаник (1997)</td>
    <td class="rating">8.462 (382 528)</td>
  </tr>

  <tr class="rating">
    <td class="rating">41. 12 разгневанных мужчин (1956)</td>
    <td class="rating">8.449 (77 152)</td>
  </tr>

  <tr class="rating">
    <td class="rating">42. Запах женщины (1992)</td>
    <td class="rating">8.446 (173 682)</td>
  </tr>

  <tr class="rating">
    <td class="rating">43. Пробуждение (1990)</td>
    <td class="rating">8.443 (106 733)</td>
  </tr>

  <tr class="rating">
    <td class="rating">44. В джазе только девушки (1959)</td>
    <td class="rating">8.441 (187 085)</td>
  </tr>

  <tr class="rating">
    <td class="rating">45. Хатико: Самый верный друг (2008)</td>
    <td class="rating">8.437 (278 168)</td>
  </tr>

  <tr class="rating">
    <td class="rating">46. Эта замечательная жизнь (1947)</td>
    <td class="rating">8.431 (42 827)</td>
  </tr>

  <tr class="rating">
    <td class="rating">47. Огни большого города (1931)</td>
    <td class="rating">8.429 (44 301)</td>
  </tr>

  <tr class="rating">
    <td class="rating">48. Хороший, плохой, злой (1966)</td>
    <td class="rating">8.425 (99 125)</td>
  </tr>

  <tr class="rating">
    <td class="rating">49. Унесённые призраками (2001)</td>
    <td class="rating">8.423 (208 906)</td>
  </tr>

  <tr class="rating">
    <td class="rating">50. ...А зори здесь тихие (1972)</td>
    <td class="rating">8.423 (99 214)</td>
  </tr>
</table>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script>
  $(document).ready(function() {
    function animateString() {
      $("#string1").fadeOut(3000).fadeIn(2000, animateString);
    }

    animateString();
  });
</script>
</body>
</html>
