<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Киноман</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header">
  <h1 id="string1">Киноман</h1>
</div>

<div class="navbar">
  <a th:href="@{/reviews}" class="navbar">Рецензии</a>
  <a th:href="@{/news}" class="navbar">Новости</a>
  <a th:href="@{/rating}" class="navbar">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="navbar">Афиша</a>
  <a th:href="@{/enter}" class="navbar" id="enter">Войти</a>
</div>

<table id="ratingTable" class="table" style="width:100%">
  <thead>
  <tr class="rating">
    <th class="table1">#</th>
    <th class="table1">Фильм</th>
    <th class="table1">Год</th>
    <th class="table1">Рейтинг</th>
    <th class="table1">Количество голосов</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="movie, iterStat : ${movies}" class="rating">
    <td class="rating" th:text="${iterStat.index + 1}"></td>
    <td class="rating">
      <a th:if="${movie.hasReview()}" th:href="@{/movie/{id}(id=${movie.id}, source='rating')}" th:text="${movie.title}"></a>
      <span th:if="${!movie.hasReview()}" th:text="${movie.title}"></span>
    </td>
    <td class="rating" th:text="${#temporals.format(movie.releaseDate, 'yyyy')}"></td>
    <td class="rating" th:text="${movie.imdbRating}"></td>
    <td class="rating votes" th:text="${movie.votes}"></td>
  </tr>
  </tbody>
</table>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script src="/functions.js"></script>
<script>
  $(document).ready(function() {
    animateString();
    formatVotes();
  });
</script>
</body>
</html>
