<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Киноман</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header">
  <h1 id="string1">Киноман</h1>
</div>

<div class="navbar">
  <a th:href="@{/reviews}" class="navbar">Рецензии</a>
  <a th:href="@{/news}" class="navbar">Новости</a>
  <a th:href="@{/rating}" class="navbar">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="navbar">Афиша</a>
  <a th:href="@{/enter}" class="navbar" id="enter">Войти</a>
</div>

<table id="ratingTable" class="table" style="width:100%">
  <thead>
  <tr class="rating">
    <th class="table1">#</th>
    <th class="table1">Фильм</th>
    <th class="table1">Год</th>
    <th class="table1">Рейтинг</th>
    <th class="table1">Количество голосов</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="movie, iterStat : ${movies}" class="rating">
    <td class="rating" th:text="${iterStat.index + 1}"></td>
    <td class="rating">
      <a th:if="${movie.hasReview()}" th:href="@{/movie/{id}(id=${movie.id}, source='rating')}" th:text="${movie.title}"></a>
      <span th:if="${!movie.hasReview()}" th:text="${movie.title}"></span>
    </td>
    <td class="rating" th:text="${movie.releaseYear}"></td>
    <td class="rating" th:text="${movie.imdbRating}"></td>
    <td class="rating" th:text="${movie.votes}"></td>
  </tr>
  </tbody>
</table>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script>
  $(document).ready(function() {
    // Start the string animation
    function animateString() {
      $("#string1").fadeOut(3000).fadeIn(2000, animateString);
    }

    animateString();

    // Sort the table
    sortTable();
  });

  function sortTable() {
    let table = document.getElementById('ratingTable').getElementsByTagName('tbody')[0];
    let rows = Array.from(table.rows);

    rows.sort((a, b) => {
      let ratingA = parseFloat(a.cells[3].innerText);
      let ratingB = parseFloat(b.cells[3].innerText);
      let votesA = parseInt(a.cells[4].innerText);
      let votesB = parseInt(b.cells[4].innerText);

      if (ratingA !== ratingB) {
        return ratingB - ratingA; // Sort in descending order by rating
      } else {
        return votesB - votesA; // Sort in descending order by number of votes
      }
    });

    // Remove all rows
    while (table.firstChild) {
      table.removeChild(table.firstChild);
    }

    // Add sorted rows with position numbers
    rows.forEach((row, index) => {
      row.cells[0].innerText = (index + 1).toString(); // Set the position number as a string
      table.appendChild(row);
    });
  }
</script>
</body>
</html>
