<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Киноман</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header">
  <h1 id="string1">Киноман</h1>
</div>

<div class="navbar">
  <a th:href="@{/reviews}" class="navbar">Рецензии</a>
  <a th:href="@{/news}" class="navbar">Новости</a>
  <a th:href="@{/rating}" class="navbar">Рейтинг фильмов</a>
  <a th:href="@{/poster}" class="navbar">Афиша</a>
  <a th:href="@{/enter}" class="navbar" id="enter">Войти</a>
</div>

<div class="clearfix">
  <img th:src="@{/images/1.jpg}" alt="Smiley face">
  <a th:href="@{/movie/1(source='reviews')}"><h2>«Если он сумасшедший, то кто ты?»</h2></a>
  <p>Экранизация культового романа Кена Кизи, перевернувшая мир кино.</p>
  <p>20.09.2018</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/2.jpg}" alt="Smiley face">
  <a th:href="@{/movie/2(source='reviews')}"><h2>«Его работа – твоя биография»</h2></a>
  <p>Фильм, поднявшийся на волне скандала с Полански, хотя заслуживающий внимания вполне сам по себе.</p>
  <p>27.09.2018</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/3.jpg}" alt="Smiley face">
  <a th:href="@{/movie/3(source='reviews')}"><h2>«Когда ты любишь кого-то, ты не можешь просто забыть про это»</h2></a>
  <p>Тонкая и наполненная картина, однозначно отличающаяся от своих жанровых коллег.</p>
  <p>04.10.2018</p>
</div>

<hr>

<div class="clearfix">
  <img th:src="@{/images/4.jpg}" alt="Smiley face">
  <a th:href="@{/movie/4(source='reviews')}"><h2>«Из воды сухим не выйти»</h2></a>
  <p>Философская притча, развернувшаяся на фоне психологического триллера.</p>
  <p>04.10.2018</p>
</div>

<hr>

<div class="footer">
  <table class="tabl">
    <tr>
      <td id="tabl1">© 2018 – 2019, Киноман</td>
      <td id="tabl2">Проект компании Iteen Academy</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script>
  // Start the string animation
  $(document).ready(function() {
    function animateString() {
      $("#string1").fadeOut(3000).fadeIn(2000, animateString);
    }

    animateString();
  });
</script>
</body>
</html>
